body {
    background-color: gray;
}

#estrutura-pagina {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: flex-start;
    height: auto;
}

.divisor{
    width: 2px;
    height: 554px;
    background-color: black;
    margin-right: 20px;
}

#area-comandos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 554px;
    width: 100px;
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: lightgray;
}

button.comando:first-child {
    margin-top: 20px;
}

.comando {
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
}

#tabuleiro {
    display:grid;
    grid-template-columns: repeat(10, 55px);
    grid-template-rows: repeat(10, 55px);
    border: 2px solid black;
    margin-right: 20px;
    height: 550px;
    background-color: darkslateblue;
}

.quadrado {
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
}

.quadrado[data-z="0"]{
    background-color: darkslateblue;
}

.quadrado[data-z="1"]{
    background-color: blue;
}

.quadrado[data-z="2"]{
    background-color: darkcyan;
}

.quadrado.apagado {
    background-color: black;
}

.quadrado.aceso {
    background-color: gold;
}

#robo {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
}

#coluna-direita{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 10px;
    max-height: 554px;
}

#area-main, #area-p1, #area-p2 {
    position: relative;
    flex: none;
    width: 350px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 25px;
    background-color: lightgray;
    min-height: 50px;
    max-height: 160px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

b {
    position: absolute;
    top: 5px;
    left: 10px
}

.lixeira {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgb(214, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.lixeira:hover {
    background-color: darkred;
    transform: scale(1.2);
}

#area-p2 {
    margin-bottom: 0px;
}

.area.selecionada {
    border: 2px solid red;
}

.area.nao-selecionada {
    border: 2px solid black;
}

.icone-area {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: 2px solid blue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
    margin: 2px;
}

.icone-area:active {
    background-color: red;
    transform: scale(0.8);
}

.icone-area:hover {
    background-color: green;
    transform: scale(1.2);
}